@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

body{
    background-color: var(--main_color);
    color: white;
}

:root{
--main_color: #0F0F0F;
--secondMain_color: #232D3F;
--thirdMain_color: #005B41;
--fourthMain_color: #05b099;
--mainText_font: "Jersey 25";
--secondText_font: "Jersey 15";
--textFont_extraLarge: 3.5rem;
--textFont_large: 3rem;
--textFont_huge: 2.5rem;
--textFont_big: 1.5rem;
--textFont_medium: 1rem;
--textFont_small: 0.7rem;

}

body{
    margin: 0;
    overflow-x: hidden;
}

/* - - - - -HEADER- - - - - */

header{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    height: 5rem;
    padding: 0.9rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main_color);
}
/* -Logo- */ 

.logo img{
    height: 9rem;
    transition: all 0.7s ease;
    cursor: pointer;
}

.logo img:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 0.3rem var(--thirdMain_color));
}

/* -Navigation Bar- */

.navbar ul{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

li a{
    cursor: grab;
    font-family: var(--mainText_font), sans-serif;
    font-size: var(--textFont_medium);
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease;
}
li a:hover{
    transform: scale(1.5);
    color: var(--fourthMain_color);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* -HERO- */

.hero{
    z-index: 2;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero_content{
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1{
    cursor: default;
    text-transform: uppercase;
    z-index: 3;
    position: relative;
    color: white;
    font-family: var(--mainText_font), sans-serif;
    font-size: var(--textFont_extraLarge);
    background-color:rgba(0, 0, 0, 0.285);
    padding: 3rem;
    border-radius: 50rem;
    transition: all 0.3s ease-out;
}

.hero h1:hover{
    transform: scale(1.1);
    background: linear-gradient(
        90deg,
        rgba(138, 240, 240, 0.795),
        var(--fourthMain_color),
        var(--thirdMain_color),
        var(--secondMain_color),
        var(--main_color),
        var(--fourthMain_color),
        rgba(138, 240, 240, 0.795)
    );
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowMove 5s linear infinite;
}

.planet_images{ 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    z-index: 4;
}

.planet_images img{
    height: 7rem;
    width: 7rem;
    transition: all 0.5s ease;
}

.planet_images img:hover{
    transform: scale(1.2);
    filter: drop-shadow(0 0 10px var(--fourthMain_color));
}

.bg_video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

@keyframes rainbowMove{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 300%;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* -MAIN- */

/* -Main info- */

.main_info{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center
}

.main_info h2{
    font-family: var(--mainText_font), sans-serif;
    font-size: var(--textFont_huge);
    font-weight: 500;
    transition: all 0.5s ease;
    cursor: default;
    text-transform: uppercase;
}

.main_info h2:hover{
    background: linear-gradient(
        90deg,
        rgba(138, 240, 240, 0.795),
        var(--fourthMain_color),
        var(--thirdMain_color),
        var(--secondMain_color),
        var(--main_color),
        var(--fourthMain_color),
        rgba(138, 240, 240, 0.795)
    );
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowMove 5s linear infinite;
    border: 3px solid var(--thirdMain_color);
    border-radius: 3rem;
    padding: 0.7rem;
}

.main_info p{
    font-family: var(--secondText_font);
    font-size: var(--textFont_big);
    padding: 1rem;
    line-height: 1.3;
    border-left: 3px solid var(--thirdMain_color);
    border-right: 3px solid var(--thirdMain_color);
    border-radius: 1rem;
    transition: 0.5s ease;
    max-width: 70rem;
}

.main_info p:hover{
    border-left-color: var(--fourthMain_color);
    border-right-color: var(--fourthMain_color);
    box-shadow: 0 0 20px rgba(138,240,240,0.2);
}

/* -Formation & evolution- */

.FAE_div{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 0.5rem;
}

.spaceBg1{
    max-width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.25;
    z-index: 1;
}

.formation_and_evolution{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.formation_and_evolution h2{
    z-index: 2;
    font-family: var(--mainText_font), sans-serif;
    font-size: var(--textFont_large);
    font-weight: 500;
    transition: all 0.5s ease;
    cursor: default;
    text-transform: uppercase;
    border: 3px solid var(--thirdMain_color);
    border-radius: 3rem;
    padding: 0.7rem 10rem 0.7rem 10rem;
}

.formation_and_evolution h2:hover{
    background: linear-gradient(
        90deg,
        rgba(138, 240, 240, 0.795),
        var(--fourthMain_color),
        var(--thirdMain_color),
        var(--secondMain_color),
        var(--main_color),
        var(--fourthMain_color),
        rgba(138, 240, 240, 0.795)
    );
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowMove 5s linear infinite;
    border-color: white;
}

.formation_and_evolution h3{
    z-index: 2;
    font-family: var(--mainText_font), sans-serif;
    font-size: var(--textFont_huge);
    font-weight: 500;
    transition: all 0.5s ease;
    cursor: default;
    text-transform: uppercase;
}

.formation_and_evolution h3:hover{
    background: linear-gradient(
        90deg,
        rgba(138, 240, 240, 0.795),
        var(--fourthMain_color),
        var(--thirdMain_color),
        var(--secondMain_color),
        var(--main_color),
        var(--fourthMain_color),
        rgba(138, 240, 240, 0.795)
    );
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowMove 5s linear infinite;
}

.formation_and_evolution p{
    font-family: var(--secondText_font);
    font-size: var(--textFont_big);
    padding: 1rem;
    line-height: 1.3;
    border-left: 3px solid var(--thirdMain_color);
    border-right: 3px solid var(--thirdMain_color);
    border-radius: 1rem;
    transition: 0.5s ease;
    max-width: 70rem;
}

.formation_and_evolution p:hover{
    border-left-color: var(--fourthMain_color);
    border-right-color: var(--fourthMain_color);
    box-shadow: 0 0 20px rgba(138,240,240,0.2);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* -FOOTER- */

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 3rem;
    padding: 1.5rem;
    background-color: var(--thirdMain_color);
}

footer h4{
    font-family: var(--secondText_font);
    font-size: var(--textFont_medium);
    transition: 0.5s ease;
}

footer h5{
    font-family: var(--secondText_font);
    font-size: var(--textFont_small);
    transition: 0.5s ease;
}

footer img{
    height: 5rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - */

/* -HTML FOLDER- */

.hero_content_SO{
    width: 100%;
    height: 100vh;
    background-image: url("../media_folder/space_Bg2.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MI_Div{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    align-items: center;
}

.MI_Div img{
    width: 100%;
    max-width: 25rem;
    transition: all 0.5s ease;
    filter: drop-shadow(0 0 3rem var(--thirdMain_color));
}

#pluto_MI img{
    width: 100%;
    max-width: 30rem;
    transition: all 0.5s ease;
    filter: drop-shadow(0 0 3rem var(--thirdMain_color));
}

.MI_Div img:hover{
    transform: scale(1.05) rotate(10deg);
    filter: drop-shadow(0 0 3rem var(--fourthMain_color));
}

.MI_Div p{
    margin: 0;
    line-height: 1.5;
    max-height: 350px;
    overflow-y: auto;
    font-family: var(--secondText_font);
    font-size: var(--textFont_big);
    padding: 1rem;
    border-left: 3px solid var(--thirdMain_color);
    border-right: 3px solid var(--thirdMain_color);
    border-radius: 1rem;
}

.MI_Div p::-webkit-scrollbar{
    scrollbar-width: none;
}

.general_characteristics{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general_characteristics h2{
    font-family: var(--mainText_font), sans-serif;
    font-size: var(--textFont_huge);
    font-weight: 500;
    transition: all 0.5s ease;
    cursor: default;
    text-transform: uppercase;
}

.general_characteristics h2:hover{
    background: linear-gradient(
        90deg,
        rgba(138, 240, 240, 0.795),
        var(--fourthMain_color),
        var(--thirdMain_color),
        var(--secondMain_color),
        var(--main_color),
        var(--fourthMain_color),
        rgba(138, 240, 240, 0.795)
    );
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowMove 5s linear infinite;
    border: 3px solid var(--thirdMain_color);
    border-radius: 3rem;
    padding: 0.7rem;
}

.general_characteristics p{
    margin-top: 1rem;
    font-family: var(--secondText_font);
    font-size: var(--textFont_big);
    padding: 1rem;
    line-height: 1.3;
    border-left: 3px solid var(--thirdMain_color);
    border-right: 3px solid var(--thirdMain_color);
    border-radius: 1rem;
    transition: 0.5s ease;
    max-width: 70rem;
}

.general_characteristics p:hover{
    border-left-color: var(--fourthMain_color);
    border-right-color: var(--fourthMain_color);
    box-shadow: 0 0 20px rgba(138,240,240,0.2);
}

.rotation{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rotation h2{
    font-family: var(--mainText_font), sans-serif;
    font-size: var(--textFont_huge);
    font-weight: 500;
    transition: all 0.5s ease;
    cursor: default;
    text-transform: uppercase;
}

.rotation h2:hover{
    background: linear-gradient(
        90deg,
        rgba(138, 240, 240, 0.795),
        var(--fourthMain_color),
        var(--thirdMain_color),
        var(--secondMain_color),
        var(--main_color),
        var(--fourthMain_color),
        rgba(138, 240, 240, 0.795)
    );
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowMove 5s linear infinite;
    border: 3px solid var(--thirdMain_color);
    border-radius: 3rem;
    padding: 0.7rem;
}

.rotation p{
    margin-top: 1rem;
    font-family: var(--secondText_font);
    font-size: var(--textFont_big);
    padding: 1rem;
    line-height: 1.3;
    border-left: 3px solid var(--thirdMain_color);
    border-right: 3px solid var(--thirdMain_color);
    border-radius: 1rem;
    transition: 0.5s ease;
    max-width: 70rem;
}

.rotation p:hover{
    border-left-color: var(--fourthMain_color);
    border-right-color: var(--fourthMain_color);
    box-shadow: 0 0 20px rgba(138,240,240,0.2);
}

.core{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.core h2{
    font-family: var(--mainText_font), sans-serif;
    font-size: var(--textFont_huge);
    font-weight: 500;
    transition: all 0.5s ease;
    cursor: default;
    text-transform: uppercase;
}

.core h2:hover{
    background: linear-gradient(
        90deg,
        rgba(138, 240, 240, 0.795),
        var(--fourthMain_color),
        var(--thirdMain_color),
        var(--secondMain_color),
        var(--main_color),
        var(--fourthMain_color),
        rgba(138, 240, 240, 0.795)
    );
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbowMove 5s linear infinite;
    border: 3px solid var(--thirdMain_color);
    border-radius: 3rem;
    padding: 0.7rem;
}

.core p{
    margin-top: 1rem;
    font-family: var(--secondText_font);
    font-size: var(--textFont_big);
    padding: 1rem;
    line-height: 1.3;
    border-left: 3px solid var(--thirdMain_color);
    border-right: 3px solid var(--thirdMain_color);
    border-radius: 1rem;
    transition: 0.5s ease;
    max-width: 70rem;
}

.core p:hover{
    border-left-color: var(--fourthMain_color);
    border-right-color: var(--fourthMain_color);
    box-shadow: 0 0 20px rgba(138,240,240,0.2);
}

/* -BURGER MENU- */

.burger{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.burger span{
    width: 100%;
    height: 4px;
    background-color: var(--thirdMain_color);
    border-radius: 5px;
}